<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	 	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">


	<!-- 只需要扫描包中的 Controller 注解 -->
	<context:component-scan base-package="cn.newtcl.controller">
	</context:component-scan>
	<!-- 启动 mvc 注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 启动定时任务 -->
	<task:annotation-driven/>
	
	<!-- 静态资源处理 -->
	<mvc:default-servlet-handler/>

	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 上传文件大小限制 -->
		<property name="maxUploadSize">  
            <value>10485760</value>  
        </property>  
        <!-- 请求的编码格式, 和 jsp 页面一致 -->
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
	</bean>
	
	<!-- 后台访问拦截器 
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/manage/**"/>
			<mvc:exclude-mapping path="/manage/loginPage"/>
			<mvc:exclude-mapping path="/manage/login"/>
            <mvc:exclude-mapping path="/manage/registerPage"/>
            <mvc:exclude-mapping path="/manage/register"/>
			<mvc:exclude-mapping path="/manage/getCpatcha"/>
	 		<mvc:exclude-mapping path="/css/**"/>
			<mvc:exclude-mapping path="/header/**"/>
			<mvc:exclude-mapping path="/img/**"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/upload/**"/>
			<mvc:exclude-mapping path="/utils/**"/>
			<bean class="cn.newtcl.interceptor.Manage.ManageLoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	-->
	
</beans>